<app-nav-bar></app-nav-bar>

<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="tab-content bg-light shadow-lg rounded-5 p-4">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form class="p-5" [formGroup]="loginForm" (ngSubmit)="singIn()">
                        <h1 class="text-center mb-5">Iniciar Sesión</h1>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="loginName">Correo</label>
                            <input type="email" formControlName="correo" id="loginName" class="form-control" />
                            <div *ngIf="loginForm.get('correo')?.hasError('required') && loginForm.get('correo')?.touched" class="text-danger">
                                El correo es obligatorio.
                            </div>
                            <div *ngIf="loginForm.get('correo')?.hasError('email') && loginForm.get('correo')?.touched" class="text-danger">
                                El correo no es válido.
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="loginPassword">Contraseña</label>
                            <input type="password" formControlName="password" id="loginPassword" class="form-control" />
                            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-danger">
                                La contraseña es obligatoria.
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-12 d-flex justify-content-center">
                                <!-- Simple link -->
                                <a [routerLink]="['/login']">¿Olvidó la contraseña?</a>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-12 d-flex justify-content-center">
                                <!-- Submit button -->
                                <button *ngIf="loading === false" type="submit" class="btn btn-primary btn-block w-75">Iniciar sesión</button>
                                <button *ngIf="loading === true" type="button" class="btn btn-primary btn-block w-75" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Cargando...
                                </button>
                            </div>
                        </div>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>¿No posees una cuenta? <a [routerLink]="['/signup']">Regístrate</a></p>
                            <p>¿Tú cuenta no está activa? <a [routerLink]="['/login/activate/account']">Actívala</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>