<div id="main-content">
    <app-nav-bar></app-nav-bar>
    <section class="d-flex justify-content-center">
        <!-- Tabla de clientes -->
        <div class="col-md-9 mt-4">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="table-data" id="contentMove">
                        <div class="order">
                            <div class="head">
                                <h2>Clientes</h2>
                                <i class='bx bx-search'></i>
                                <i class='bx bx-filter'></i>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <h5>Nombre</h5>
                                        </th>
                                        <th class="text-center">
                                            <h5>Teléfono</h5>
                                        </th>
                                        <th class="text-center">
                                            <h5>Correo</h5>
                                        </th>
                                        <th class="text-center">
                                            <h5>Fecha de Creación</h5>
                                        </th>
                                        <th class="text-center">
                                            <h5>Estado</h5>
                                        </th>
                                        <th class="text-center">
                                            <h5>Acciones</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of customers; let i = index">
                                        <td>
                                            <img [src]="customerImages[customer.id] || 'assets/perfil_picture.png'" alt="Foto-Perfil-Cliente">
                                            <p>{{ customer.Nombre_Cliente }} {{ customer.Apellido_Cliente }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p>{{ customer.Telefono_Cliente }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p>{{ customer.Correo_Cliente }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p>{{ customer.createdAt }}</p>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="customer.estado.Tipo_Estado === 'Activo'" class="status active">{{ customer.estado.Tipo_Estado }}</span>
                                            <span *ngIf="customer.estado.Tipo_Estado === 'Pendiente'" class="status pending">{{ customer.estado.Tipo_Estado }}</span>
                                            <span *ngIf="customer.estado.Tipo_Estado === 'Inactivo'" class="status inactive">{{ customer.estado.Tipo_Estado }}</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-primary" title="Ver" [routerLink]="['/admin/view/customer', customer.id, getCustomerName(customer)]"><i class="fa fa-search"></i></button>
                                            <button *ngIf="customer.estado.Tipo_Estado === 'Inactivo' && permissions === true" class="btn btn-sm btn-success" title="Activar" (click)="activateCustomer(customer.id)"><i class="fa fa-check"></i></button>
                                            <button *ngIf="customer.estado.Tipo_Estado !== 'Inactivo' && permissions === true" class="btn btn-sm btn-danger" title="Desactivar" (click)="deleteCustomer(customer.id)"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </section>
</div>