<app-nav-bar></app-nav-bar>

<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form class="border border-2 border-dark p-5" [formGroup]="activateForm" (ngSubmit)="onSubmit()">
                        <h1 class="text-center mb-5">Activa tu cuenta</h1>

                        <!-- Token input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="loginName">Token de activación</label>
                            <input type="text" formControlName="token" id="loginName" class="form-control" />
                            <div *ngIf="activateForm.get('token')?.hasError('required') && activateForm.get('token')?.touched"
                                class="text-danger">
                                El token es obligatorio.
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-12 d-flex justify-content-center">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block w-75">Activar Cuenta</button>
                            </div>
                        </div>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>¿No posees una cuenta? <a [routerLink]="['/signup']">Regístrate</a></p>
                            <p>¿Tú cuenta está activa? <a [routerLink]="['/login']">Inicia Sesión</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>