<div id="main-content">
    <app-nav-bar></app-nav-bar>
    <section class="d-flex justify-content-center">
        <!-- Formulario de producto -->
        <div class="col-md-9 mt-4">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 bg-light p-5 mb-3">
                        <div class="text-center mb-3">
                            <h2>Registro de Proveedor</h2>
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <!-- Name input -->
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="nombre" class="form-control"
                                    placeholder="Ingresa el nombre del proveedor">
                                <label for="registerName">Nombre del Proveedor</label>
                                <div *ngIf="registerForm.get('nombre')?.hasError('minlength') && registerForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre es demasiado corto (mínimo 3 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('nombre')?.hasError('maxlength') && registerForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre es demasiado largo (máximo 30 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('nombre')?.hasError('pattern') && registerForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre no es válido, no use carácteres especiales.
                                </div>
                            </div>
                    
                            <!-- Username input -->
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="apellido" class="form-control"
                                    placeholder="Ingresa el apellido del proveedor">
                                <label for="registerUsername">Apellido del Proveedor</label>
                                <div *ngIf="registerForm.get('apellido')?.hasError('minlength') && registerForm.get('apellido')?.touched"
                                    class="text-danger">
                                    El apellido es demasiado corto (mínimo 3 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('apellido')?.hasError('maxlength') && registerForm.get('apellido')?.touched"
                                    class="text-danger">
                                    El apellido es demasiado largo (máximo 30 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('apellido')?.hasError('pattern') && registerForm.get('apellido')?.touched"
                                    class="text-danger">
                                    El apellido no es válido, no use carácteres especiales.
                                </div>
                            </div>
                    
                            <!-- Username input -->
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="empresa" class="form-control"
                                    placeholder="Ingresa el nombre de la empresa">
                                <label for="registerUsername">Nombre de Empresa</label>
                                <div *ngIf="registerForm.get('empresa')?.hasError('minlength') && registerForm.get('empresa')?.touched"
                                    class="text-danger">
                                    El nombre de la empresa es demasiado corto (mínimo 5 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('empresa')?.hasError('maxlength') && registerForm.get('empresa')?.touched"
                                    class="text-danger">
                                    El nombre de la empresa es demasiado largo (máximo 50 carácteres).
                                </div>
                                <div *ngIf="registerForm.get('empresa')?.hasError('pattern') && registerForm.get('empresa')?.touched"
                                    class="text-danger">
                                    El nombre de la empresa no es válido, no use carácteres especiales.
                                </div>
                            </div>
                    
                            <!-- Tel input -->
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="telefono" class="form-control"
                                    placeholder="Ingresa el número de teléfono del proveedor">
                                <label for="registerTel">Teléfono de Contacto</label>
                                <div *ngIf="registerForm.get('telefono')?.hasError('required') && registerForm.get('telefono')?.touched"
                                    class="text-danger">
                                    El teléfono es obligatorio.
                                </div>
                                <div *ngIf="registerForm.get('telefono')?.hasError('pattern') && registerForm.get('telefono')?.touched"
                                    class="text-danger">
                                    El teléfono no es válido, debe de poseer 8 dígitos.
                                </div>
                            </div>
                    
                            <!-- Email input -->
                            <div class="form-floating mb-3">
                                <input type="email" formControlName="correo" class="form-control"
                                    placeholder="Ingresa el correo del proveedor">
                                <label for="registerEmail">Correo de Contacto</label>
                                <div *ngIf="registerForm.get('correo')?.hasError('required') && registerForm.get('correo')?.touched"
                                    class="text-danger">
                                    El correo es obligatorio.
                                </div>
                                <div *ngIf="registerForm.get('correo')?.hasError('email') && registerForm.get('correo')?.touched"
                                    class="text-danger">
                                    El correo no es válido.
                                </div>
                                <div *ngIf="registerForm.get('correo')?.hasError('maxlength') && registerForm.get('correo')?.touched"
                                    class="text-danger">
                                    El correo es demasiado largo (máximo 40 carácteres).
                                </div>
                            </div>
                    
                            <div class="row mb-4">
                                <div class="col-md-12 d-flex justify-content-center mt-3">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block w-75">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </section>
</div>