<app-nav-bar></app-nav-bar>
<!-- Cart Start -->
<div class="container-fluid mt-4 mb-5">
    <h1 class="mx-xl-5 mb-4 text-center">Detalle de Compra</h1>
    <div class="row px-xl-5">
        <div *ngIf="noneShoppingDetail == false" class="justify-content-center align-items-center">
            <div class="col-12 text-center">
                <h5>
                    Ups, el detalle de la compra no ha sido encontrado, selecciona otro o intenta más tarde.
                </h5>
                <img width="300" height="300" src="assets/404.jpg" class="img-fluid rounded-circle" alt="Error 404">
            </div>
        </div>
        <div class="col-lg-8 table-responsive mb-3">
            <table *ngIf="noneShoppingDetail == true" class="table table-light table-borderless table-hover mb-0">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Productos</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let item of shoppingDetail.detalles_venta">
                        <td class="align-middle">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="col-md-2">
                                    <img [src]="productImages[item.producto.id] || 'assets/Logo_ASIA_DEPOT.png'" alt="Imagen-Producto" style="width: 50px;">
                                </div>
                                <div class="col-md-5">
                                    {{ item.producto.Nombre_Producto }}
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-center">Q.{{ item.Precio_Unitario }}</td>
                        <td class="align-middle text-center">{{ item.Cantidad_Producto }}</td>
                        <td class="align-middle text-center">Q.{{ item.Subtotal_Venta }}</td>
                    </tr>
                </tbody>
            </table>

            <table *ngIf="noneShoppingDetail == true" class="table table-light table-borderless table-hover mb-0">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>No. Orden</th>
                        <th>Cliente</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th *ngIf="cancelShopping === true">Cancelar</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <td class="align-middle text-center">{{ shoppingDetail.Numero_Orden }}</td>
                        <td class="align-middle text-center">{{ shoppingDetail.cliente.Nombre_Cliente }} {{ shoppingDetail.cliente.Apellido_Cliente }}</td>
                        <td class="align-middle text-center">{{ shoppingDetail.createdAt }}</td>
                        <td class="align-middle text-center">{{ shoppingDetail.estado.Tipo_Estado }}</td>
                        <td class="align-middle text-center">Q.{{ shoppingDetail.Total_Factura }}</td>
                        <td class="align-middle text-center">
                            <button *ngIf="cancelShopping === true" class="btn btn-sm btn-danger" (click)="cancelSale(shoppingDetail.id)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Cart End -->
<app-footer></app-footer>