<div id="main-content">
    <app-nav-bar></app-nav-bar>
    <section class="d-flex justify-content-center">
        <!-- Información de empleado -->
        <div class="col-md-9 mt-4">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div *ngIf="error404 == true" class="row justify-content-center align-items-center">
                        <div class="col-12 text-center mt-5">
                            <h5>
                                Lo siento, el administrador que estás buscando no ha sido encontrado. Verifica el nombre o selecciona otro administrador.
                            </h5>
                            <img width="500" height="500" src="assets/404_2.jpg" class="img-fluid rounded-circle" alt="Error 404">
                        </div>
                    </div>
                    <div *ngIf="error404 == false" class="col-md-9 colorEdit shadow-lg rounded-5 mb-3">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <div class="col-md-4">
                                <img width="70%" src="{{ image }}" alt="Foto-Perfil" class="img-fluid rounded-circle">
                            </div>
                            <div class="col-md-6">
                                <h1>{{ employee.Nombre_Empleado }}</h1>
                                <h1>{{ employee.Apellido_Empleado }}</h1>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="error404 == false" class="col-md-9 mb-5">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                            <div class="col-md-6 colorEdit shadow-lg rounded-5 p-5 mb-5 container-info">
                                <h3 class="mb-4">Información del Administrador</h3>
                                <div class="mb-3">
                                    <label for="nombre"><strong>Nombre</strong></label>
                                    <p id="nombre">{{ employee.Nombre_Empleado }}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="apellido"><strong>Apellido</strong></label>
                                    <p id="apellido">{{ employee.Apellido_Empleado }}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="correo"><strong>Correo</strong></label>
                                    <p id="correo">{{ employee.Correo_Empleado }}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono"><strong>Teléfono</strong></label>
                                    <p id="telefono">{{ employee.Telefono_Empleado }}</p>
                                </div>
                                <div class="mb-3">
                                    <label for="nit"><strong>NIT</strong></label>
                                    <p id="nit">{{ employee.NIT_Empleado }}</p>
                                </div>
                            </div>
                            <div class="col-md-5 colorEdit shadow-lg rounded-5 p-5">
                                <h3 class="mb-4">Acciones</h3>
                                <div class="d-flex flex-column btnAction">
                                    <div class="mb-3">
                                        <a class="btn btn-success btn-block" [routerLink]="'/admin/create/admin'">Nuevo Administrador</a>
                                    </div>
                                    <div class="mb-3">
                                        <a *ngIf="employee.estado.Tipo_Estado === 'Inactivo'" class="btn btn-primary btn-block" (click)="activateEmployee(employee.id)">Activar Administrador</a>
                                    </div>
                                    <div class="mb-3">
                                        <a *ngIf="employee.estado.Tipo_Estado !== 'Inactivo'" class="btn btn-danger btn-block" (click)="deleteEmployee(employee.id)">Eliminar Administrador</a>
                                    </div>
                                    <div class="mb-3">
                                        <a class="btn btn-danger btn-block" [routerLink]="['/admin/list/admins']">Regresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </section>
</div>