<app-nav-bar></app-nav-bar>
<!-- Shop Detail Start -->
<div class="container-fluid pb-5 mt-4">
    <div class="row px-xl-5">
        <div class="col-lg-5">
            <div>
                <img class="w-100 h-100" src="assets/Logo_ASIA_DEPOT.png" alt="Logo producto ASIA DEPOT">
            </div>
        </div>

        <div class="col-lg-7 h-auto">
            <div class="h-100 bg-light p-5">
                <h1 class="text-center mb-4">{{product.Nombre_Producto}}</h1>
                <p class="mb-4">{{ product.Descripcion_Producto }}</p>
                <h3 class="font-weight-semi-bold mb-2">{{ category.Nombre_Categoria }}</h3>
                <p class="mb-4">{{ category.Descripcion_Categoria }}</p>
                <h3 class="font-weight-semi-bold mb-4">Q.{{ product.Precio_Venta }}</h3>
                <h3 class="font-weight-semi-bold mb-4">Disponibilidad: {{ product.Cantidad_Stock }}</h3>

                <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                    <div class="input-group quantity">
                        <div class="input-group-btn">
                            <button *ngIf="product.Cantidad_Stock > 0" class="btn btn-primary btn-minus" (click)="decreaseQuantity()">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="product.Cantidad_Stock === 0" class="btn btn-primary btn-minus" disabled>
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input *ngIf="product.Cantidad_Stock > 0" type="text" class="form-control border-2 text-center quantity-value" value="{{ increment }}">
                        <input *ngIf="product.Cantidad_Stock === 0" type="text" class="form-control border-2 text-center quantity-value" value="0" disabled>
                        <div class="input-group-btn">
                            <button *ngIf="product.Cantidad_Stock > 0" class="btn btn-primary btn-plus" (click)="increaseQuantity()">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button *ngIf="product.Cantidad_Stock === 0" class="btn btn-primary btn-plus" disabled>
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button *ngIf="product.Cantidad_Stock > 0" class="btn btn-primary px-4 btn-add-to-cart" (click)="onSubmit(product.id)">
                        <i class="fa fa-shopping-cart mr-1"></i>
                        Agregar al carrito
                    </button>
                    <button *ngIf="product.Cantidad_Stock === 0" class="btn btn-danger px-4 btn-add-to-cart" disabled>
                        <i class="fa fa-shopping-cart mr-1"></i>
                        Agregar al carrito
                    </button>
                </div>

                <div class="d-flex pt-2">
                    <strong class="text-dark mr-2">Síguenos en:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="https://www.facebook.com/asiadepot?mibextid=ZbWKwL" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="https://instagram.com/asiadepot?igshid=MzRlODBiNWFlZA==" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-dark px-2" href="https://wa.me/50246651581" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-xl-5">
        <div class="bg-light d-flex row justify-content-between">
            <div class="nav nav-tabs mb-2">
                <a class="nav-item nav-link text-dark" [routerLink]="['/product/detail', product.id]" data-toggle="tab">Description</a>
                <a class="nav-item nav-link text-dark active" data-toggle="tab">Reviews ({{ countReviews }})</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-3">
                    <div class="row p-4">
                        <div class="col-md-6">
                            <h4 class="mb-4">Reseñas de "{{ product.Nombre_Producto }}"</h4>

                            <div *ngIf="noneReviews == false" class="row justify-content-center align-items-center">
                                <div class="col-12 text-center">
                                    <h5>
                                        ¡Ups! Parece que aún no hay reseñas para este producto. ¡Vuelve pronto para
                                        ver las opiniones de otros clientes!
                                    </h5>
                                    <img width="300" height="300" src="assets/404.jpg"
                                        class="img-fluid rounded-circle mt-3" alt="Error 404">
                                </div>
                            </div>

                            <!-- Contenedor de las reseñas con desplazamiento -->
                            <div *ngIf="noneReviews == true" data-spy="scroll" data-target="#reviewsNav" data-offset="50" style="height: 400px; overflow-y: auto; overflow-x: hidden;">
                                <!-- Reseñas -->
                                <div id="review1" class="review shadow-lg mb-2" *ngFor="let review of productReviews; let i = index">
                                    <div class="row align-items-center">
                                        <div class="col-md-2 mt-2 d-flex justify-content-center">
                                            <!-- Foto del cliente -->
                                            <img src="{{ images[i] }}" alt="Foto del Cliente" class="img-fluid rounded-circle">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Fecha publicación -->
                                                    <p class="text-end">
                                                        <strong>Fecha de publicación: </strong>
                                                        {{ review.createdAt }}
                                                    </p>
                                                </div>
                                                <div class="col-12">
                                                    <!-- Nombre del cliente y calificación -->
                                                    <p>
                                                        <strong>
                                                            {{ review.cliente.Nombre_Cliente }} 
                                                            {{ review.cliente.Apellido_Cliente }}
                                                        </strong> 
                                                        - {{ review.Puntuacion_Producto }}
                                                    </p>
                                                </div>
                                                <div class="col-12">
                                                    <!-- Comentario del cliente -->
                                                    <p>{{ review.Comentario_Producto }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Formulario Reseñas -->
                        <div class="col-md-5">
                            <div class="row d-flex justify-content-center">
                                <h4 class="mb-4">Deja tu reseña</h4>
                                <form [formGroup]="registerForm" (ngSubmit)="addProductReview(product.id)">
                                    <!-- Puntuación input -->
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Default select example" formControlName="puntuacion">
                                            <option selected>Selecciona una puntuación</option>
                                            <option value="0">0 estrella</option>
                                            <option value="1">1 estrella</option>
                                            <option value="2">2 estrellas</option>
                                            <option value="3">3 estrellas</option>
                                            <option value="4">4 estrellas</option>
                                            <option value="5">5 estrellas</option>
                                        </select>
                                        <label for="register">Puntuación de producto</label>
                                        <div *ngIf="registerForm.get('puntuacion')?.hasError('required') && registerForm.get('puntuacion')?.touched" class="text-danger">
                                            La puntuación es obligatoria.
                                        </div>
                                    </div>
                                    <!-- Comentario input -->
                                    <div class="form-floating mb-3">
                                        <textarea id="floatingTextarea2" minlength="10" maxlength="201" style="max-height: 100px; height: 100px; max-width: 542px;" formControlName="comentario" class="form-control" placeholder="Ingresa tu dirección general"></textarea>
                                        <label for="registerAddress">Comentario</label>
                                        <div *ngIf="registerForm.get('comentario')?.hasError('required') && registerForm.get('comentario')?.touched" class="text-danger">
                                            El comentario es obligatorio.
                                        </div>
                                        <div *ngIf="registerForm.get('comentario')?.hasError('pattern') && registerForm.get('comentario')?.touched" class="text-danger">
                                            El comentario no es válido, no use carácteres especiales.
                                        </div>
                                        <div *ngIf="registerForm.get('comentario')?.hasError('minlength') && registerForm.get('comentario')?.touched" class="text-danger">
                                            El comentario es demasiado corto (mínimo 10 carácteres).
                                        </div>
                                        <div *ngIf="registerForm.get('comentario')?.hasError('maxlength') && registerForm.get('comentario')?.touched" class="text-danger">
                                            El comentario es demasiado largo (máximo 200 carácteres).
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Agregar reseña" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección para los reviews de clientes -->
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
<app-footer></app-footer>