<div id="main-content">
    <app-nav-bar></app-nav-bar>
    <section class="d-flex justify-content-center">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                        <div class="col-md-4 colorEdit shadow-lg rounded-5 p-5 mb-5" style="margin-right: 20px;">
                            <div class=" d-flex justify-content-center">
                                <img style="max-width: 250px; max-height: 250px;" src="{{ previewImage || image }}" alt="Foto de Perfil" class="img-fluid rounded-circle">
                            </div>
                            <form (ngSubmit)="onUploadAvatar()">
                                <div class="mt-3">
                                    <div class="form-group">
                                        <input class="mt-3 form-control" id="formFile" type="file" accept=".png, .jpg, .jpeg"
                                            name="avatar" (change)="onFileSelected($event)" required>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12 d-flex justify-content-center mt-4">
                                            <!-- Submit button -->
                                            <button *ngIf="loading === false" type="submit" class="btn btn-primary" [disabled]="uploading">Subir Foto</button>
                                            <button *ngIf="loading === true" type="button" class="btn btn-primary" disabled>
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Cargando...
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
        
                        <div class="col-md-5 colorEdit shadow-lg rounded-5 p-5 mb-5">
                            <div class="text-center mb-4">
                                <h2>Actualizar datos personales</h2>
                            </div>
                            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                                <!-- Name input -->
                                <div class="form-floating mb-3">
                                    <input type="text" formControlName="nombre" class="form-control" placeholder="Ingresa tu nombre">
                                    <label for="registerName">{{ employee.Nombre_Empleado || 'Ingresa tu nombre' }}</label>
                                    <div *ngIf="updateForm.get('nombre')?.hasError('minlength') && updateForm.get('nombre')?.touched" class="text-danger">
                                        El nombre es demasiado corto (mínimo 3 carácteres).
                                    </div>
                                    <div *ngIf="updateForm.get('nombre')?.hasError('maxlength') && updateForm.get('nombre')?.touched" class="text-danger">
                                        El nombre es demasiado largo (máximo 30 carácteres).
                                    </div>
                                    <div *ngIf="updateForm.get('nombre')?.hasError('pattern') && updateForm.get('nombre')?.touched" class="text-danger">
                                        El nombre no es válido, no use carácteres especiales.
                                    </div>
                                </div>
        
                                <!-- Username input -->
                                <div class="form-floating mb-3">
                                    <input type="text" formControlName="apellido" class="form-control" placeholder="Ingresa tu apellido">
                                    <label for="registerUsername">{{ employee.Apellido_Empleado || 'Ingresa tu apellido' }}</label>
                                    <div *ngIf="updateForm.get('apellido')?.hasError('minlength') && updateForm.get('apellido')?.touched" class="text-danger">
                                        El apellido es demasiado corto (mínimo 3 carácteres).
                                    </div>
                                    <div *ngIf="updateForm.get('apellido')?.hasError('maxlength') && updateForm.get('apellido')?.touched" class="text-danger">
                                        El apellido es demasiado largo (máximo 30 carácteres).
                                    </div>
                                    <div *ngIf="updateForm.get('apellido')?.hasError('pattern') && updateForm.get('apellido')?.touched" class="text-danger">
                                        El apellido no es válido, no use carácteres especiales.
                                    </div>
                                </div>
        
                                <!-- Tel input -->
                                <div class="form-floating mb-3">
                                    <input type="text" formControlName="telefono" class="form-control" placeholder="Ingresa tu número de teléfono">
                                    <label for="registerTel">{{ employee.Telefono_Empleado || 'Ingresa tu teléfono' }}</label>
                                    <div *ngIf="updateForm.get('telefono')?.hasError('pattern') && updateForm.get('telefono')?.touched" class="text-danger">
                                        El teléfono no es válido, debe de poseer 8 dígitos.
                                    </div>
                                </div>
        
                                <!-- Nit input -->
                                <div class="form-floating mb-3">
                                    <input type="number" formControlName="nit" class="form-control" placeholder="Ingresa tu NIT">
                                    <label for="registerNIT">{{ employee.NIT_Empleado || 'Ingresa tu NIT' }}</label>
                                    <div *ngIf="updateForm.get('nit')?.hasError('pattern') && updateForm.get('nit')?.touched" class="text-danger">
                                        El NIT no es válido.
                                    </div>
                                </div>
        
                                <div class="row mb-4">
                                    <div class="col-md-12 d-flex justify-content-center mt-3">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-primary btn-block w-75">Actualizar datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </section>
</div>