<section>
    <div class="container">
        <h2 class="text-center">Categorías</h2>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <div class="col" *ngFor="let categoria of category">
                <div class="card">
                    <div class="card-body p-3">
                        <h5 class="card-title fs-5">{{ categoria.Nombre_Categoria }}</h5>
                        <p class="card-text fs-6">{{ categoria.Descripcion_Categoria }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>