<div id="main-content">
    <app-nav-bar></app-nav-bar>
    <section class="d-flex justify-content-center mt-4">
        <!-- Formulario de actualización de categoría -->
        <div class="col-md-9 mt-5">
            <div class="container mb-5">
                <div class="row d-flex justify-content-center">
                    <div *ngIf="error404 == true" class="row justify-content-center align-items-center">
                        <div class="col-12 text-center mt-5">
                            <h5>
                                Lo siento, la categoría que estás buscando no ha sido encontrado. Verifica el nombre o selecciona otra categoría.
                            </h5>
                            <img width="500" height="500" src="assets/404_2.jpg" class="img-fluid rounded-circle"
                                alt="Error 404">
                        </div>
                    </div>

                    <div *ngIf="error404 == false" class="col-md-5 bg-light shadow-lg rounded-5 p-5 p-5 mb-3">
                        <div class="text-center mb-3">
                            <h2>Actualizar datos</h2>
                        </div>
                        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                            <!-- Name input -->
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="nombre" class="form-control"
                                    placeholder="Ingresa el nombre del proveedor">
                                <label for="registerName">{{ category.Nombre_Categoria }}</label>
                                <div *ngIf="updateForm.get('nombre')?.hasError('minlength') && updateForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre de categoría es demasiado corto (mínimo 3 carácteres).
                                </div>
                                <div *ngIf="updateForm.get('nombre')?.hasError('maxlength') && updateForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre de categoría es demasiado largo (máximo 50 carácteres).
                                </div>
                                <div *ngIf="updateForm.get('nombre')?.hasError('pattern') && updateForm.get('nombre')?.touched"
                                    class="text-danger">
                                    El nombre de categoría no es válido, no use carácteres especiales.
                                </div>
                            </div>

                            <!-- Address input -->
                            <div class="form-floating mb-3">
                                <textarea id="floatingTextarea2" minlength="10" maxlength="201" style="max-height: 150px; height: 125px;"
                                    formControlName="descripcion" class="form-control" placeholder="Ingresa tu dirección general"></textarea>
                                <label for="registerAddress">Descripción de Categoría</label>
                                <div *ngIf="updateForm.get('descripcion')?.hasError('pattern') && updateForm.get('descripcion')?.touched"
                                    class="text-danger">
                                    La descripción no es válida, no use carácteres especiales.
                                </div>
                                <div *ngIf="updateForm.get('descripcion')?.hasError('minlength') && updateForm.get('descripcion')?.touched"
                                    class="text-danger">
                                    La descripción es demasiado corta (mínimo 10 carácteres).
                                </div>
                                <div *ngIf="updateForm.get('descripcion')?.hasError('maxlength') && updateForm.get('descripcion')?.touched"
                                    class="text-danger">
                                    La descripción es demasiado larga (máximo 200 carácteres).
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-12 d-flex justify-content-center mt-3">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block w-75">Actualizar datos</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </section>
</div>