.container div .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    margin-bottom: 30px;
    width: 100%;
    color: #342E37;
}

.container div .table-data>div {
    border-radius: 20px;
    background: #F9F9F9;
    padding: 24px;
    overflow-x: auto;
}

.container div .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content div .table-data .head h2 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.container div .table-data .head .bx {
    cursor: pointer;
}

.container div .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

.container div .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

.container div .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.container div .table-data .order table td {
    padding: 16px 0;
}

.container div .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.container div .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.container div .table-data .order table tbody tr:hover {
    background: #eee;
}

.container div .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: #F9F9F9;
    border-radius: 20px;
    font-weight: 700;
}

.container div .table-data .order table tr td .status.active {
    background: #22c73b;
    font-weight: bold;
    font-size: 14px;
}

.container div .table-data .order table tr td .status.pending {
    background: #3C91E6;
    font-weight: bold;
    font-size: 14px;
}

.container div .table-data .order table tr td .status.inactive {
    background: #FD7238;
    font-weight: bold;
    font-size: 14px;
}