<app-nav-bar></app-nav-bar>

<div class="container mt-2 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form class="border border-2 border-dark p-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="text-center mb-3">
                            <p>Regístrate con:</p>
                            <button type="button" class="btn btn-secondary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>
                        </div>

                        <p class="text-center">o:</p>

                        <!-- Name input -->
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Ingresa tu nombre">
                            <label for="registerName">Nombre</label>
                            <div *ngIf="registerForm.get('nombre')?.hasError('minlength') && registerForm.get('nombre')?.touched" class="text-danger">
                                El nombre es demasiado corto (mínimo 3 carácteres).
                            </div>
                            <div *ngIf="registerForm.get('nombre')?.hasError('maxlength') && registerForm.get('nombre')?.touched" class="text-danger">
                                El nombre es demasiado largo (máximo 30 carácteres).
                            </div>
                            <div *ngIf="registerForm.get('nombre')?.hasError('required') && registerForm.get('nombre')?.touched" class="text-danger">
                                El nombre es obligatorio.
                            </div>
                            <div *ngIf="registerForm.get('nombre')?.hasError('pattern') && registerForm.get('nombre')?.touched" class="text-danger">
                                El nombre no es válido, no use carácteres especiales.
                            </div>
                        </div>

                        <!-- Username input -->
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="apellido" class="form-control" placeholder="Ingresa tu apellido">
                            <label for="registerUsername">Apellido</label>
                            <div *ngIf="registerForm.get('nombre')?.hasError('minlength') && registerForm.get('nombre')?.touched" class="text-danger">
                                El apellido es demasiado corto (mínimo 3 carácteres).
                            </div>
                            <div *ngIf="registerForm.get('nombre')?.hasError('maxlength') && registerForm.get('nombre')?.touched" class="text-danger">
                                El apellido es demasiado largo (máximo 30 carácteres).
                            </div>
                            <div *ngIf="registerForm.get('apellido')?.hasError('required') && registerForm.get('apellido')?.touched" class="text-danger">
                                El apellido es obligatorio.
                            </div>
                            <div *ngIf="registerForm.get('apellido')?.hasError('pattern') && registerForm.get('apellido')?.touched" class="text-danger">
                                El apellido no es válido, no use carácteres especiales.
                            </div>
                        </div>

                        <!-- Tel input -->
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="telefono" class="form-control" placeholder="Ingresa tu número de teléfono">
                            <label for="registerTel">Teléfono</label>
                            <div *ngIf="registerForm.get('telefono')?.hasError('required') && registerForm.get('telefono')?.touched" class="text-danger">
                                El teléfono es obligatorio.
                            </div>
                            <div *ngIf="registerForm.get('telefono')?.hasError('pattern') && registerForm.get('telefono')?.touched" class="text-danger">
                                El teléfono no es válido, debe de poseer 8 dígitos.
                            </div>
                        </div>

                        <!-- Nit input -->
                        <div class="form-floating mb-3">
                            <input type="number" formControlName="nit" class="form-control" placeholder="Ingresa tu NIT">
                            <label for="registerNIT">NIT</label>
                            <div *ngIf="registerForm.get('nit')?.hasError('pattern') && registerForm.get('nit')?.touched" class="text-danger">
                                El NIT no es válido.
                            </div>
                        </div>
                        
                        <!-- Departamento input -->
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example" (change)="onDepartmentSelected($event)" formControlName="departamento">
                                <option value="null">Selecciona un departamento</option>
                                <option *ngFor="let department of departments" [value]="department.id">{{ department.Nombre_Departamento }}</option>
                            </select>
                            <label for="registerDepartamento">Departamento</label>
                        </div>

                        <!-- Municipio input -->
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example" formControlName="municipio">
                                <option value="null">Selecciona un municipio</option>
                                <option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.Nombre_Municipio }}</option>
                            </select>
                            <label for="registerMunicipio">Municipio</label>
                        </div>

                        <!-- Address input -->
                        <div class="form-floating mb-3">
                            <input type="text" formControlName="direccion" class="form-control" placeholder="Ingresa tu dirección general">
                            <label for="registerAddress">Dirección general</label>
                            <div *ngIf="registerForm.get('direccion')?.hasError('pattern') && registerForm.get('direccion')?.touched" class="text-danger">
                                La dirección no es válida, no use carácteres especiales.
                            </div>
                            <div *ngIf="registerForm.get('direccion')?.hasError('minlength') && registerForm.get('direccion')?.touched" class="text-danger">
                                La dirección es demasiado corta (mínimo 10 carácteres).
                            </div>
                            <div *ngIf="registerForm.get('direccion')?.hasError('maxlength') && registerForm.get('direccion')?.touched" class="text-danger">
                                La dirección es demasiado larga (máximo 100 carácteres).
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-floating mb-3">
                            <input type="email" formControlName="correo" class="form-control" placeholder="Ingresa tu correo">
                            <label for="registerEmail">Correo</label>
                            <div *ngIf="registerForm.get('correo')?.hasError('required') && registerForm.get('correo')?.touched" class="text-danger">
                                El correo es obligatorio.
                            </div>
                            <div *ngIf="registerForm.get('correo')?.hasError('email') && registerForm.get('correo')?.touched" class="text-danger">
                                El correo no es válido.
                            </div>
                            <div *ngIf="registerForm.get('correo')?.hasError('maxlength') && registerForm.get('correo')?.touched" class="text-danger">
                                El correo es demasiado largo (máximo 40 carácteres).
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-floating mb-3">
                            <input type="password" formControlName="password" class="form-control" placeholder="Ingresa tu contraseña">
                            <label for="registerPassword">Contraseña</label>
                            <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-danger">
                                La contraseña es obligatoria.
                            </div>
                            <div *ngIf="registerForm.get('password')?.hasError('pattern') && registerForm.get('password')?.touched" class="text-danger">
                                La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un dígito y no debe contener espacios en blanco.
                            </div>
                            <div *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched" class="text-danger">
                                La contraseña es demasiado corta (mínimo 8 carácteres).
                            </div>
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-floating mb-3">
                            <input type="password" formControlName="repetir_password" class="form-control" placeholder="Repite la contraseña">
                            <label for="registerRepeatPassword">Repetir contraseña</label>
                            <div *ngIf="registerForm.get('repetir_password')?.hasError('required') && registerForm.get('repetir_password')?.touched" class="text-danger">
                                Debes repetir la contraseña.
                            </div>
                            <div *ngIf="submitted && registerForm.hasError('passwordsNotMatch')" class="text-danger">
                                Las contraseñas no coinciden.
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-12 d-flex justify-content-center">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block w-75">Crear cuenta</button>
                            </div>
                        </div>

                        <!-- Login buttons -->
                        <div class="text-center">
                            <p>¿Ya posees una cuenta? <a [routerLink]="['/login']">Inicia sesión</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>